.archiveMain{
    height: 90vh;
    width: 100vw;
    /* background-color: rgb(88, 19, 19); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.archive-top{
    height: 20%;
    width: 100vw;
    /* background-color: rgb(217, 139, 55); */
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 2vw;
    gap: 2vw;
}
.archive-content{
    height: 80%;
    width: 100vw;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: scroll;

}

.problem{
    width: 100%;
    height: 100%;
}

.archive-scroll{
    min-height: auto;
    width: 100vw;
    /* background-color: rgb(118, 27, 27); */
    display: flex;
    justify-content: center;
    align-items: start;
    
}

.top-left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}
.top-right{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: red; */
}

.top-right select{
    height: 6vh;
    padding: 0 2vw;
}
.ps{
    height: 8vh;
    /* width: 30vw; */
    padding: 0 3vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

button h3{
    font-size: 25px;

}

.all-wins{
    height: 8vh;
    /* width: 30vw; */
    padding: 0 5vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}