.main_page {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0px;
}

.main_page img {
  width: 550px;
  margin-bottom: 10px;
}
.content-home img {
  width: 180px;
  margin-bottom: 15px;
}
.content-home {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 85%;
}

.content-home h2 {
  color: rgb(255, 255, 255);
  line-height: 4vh;
  font-size: 3.2vh;
}
.content-home h4 {
  color: rgb(255, 255, 255);
  line-height: 3.5vh;
  font-size: 2vh;
}

.home_content {
  text-align: center;
  width: 100%;
}

.main_page h1 {
  color: #ebe718;
  font-weight: 800;
  animation: glow 2s infinite;
  font-size: 5.5vh;
}
.Registeration_extension {
  display: grid;
  text-align: center;
  justify-items: right;
  justify-content: right;
  color: white;
  margin-right: 20px;
  margin-left: calc(95% - 20px - 200px);
  position: absolute;
}
.Registeration_extension_2 {
  display: grid;
  text-align: center;
  justify-items: right;
  justify-content: right;
  color: white;
  margin-top: 130px;
  margin-right: 20px;
  margin-left: calc(95% - 0px - 200px);
  position: absolute;
  border-radius: 8px;
  box-shadow: #ebe718 0 0 15px 2px;
  padding: 10px;
  margin-bottom: 0px;
  width: 240px;
}
.Registeration_extension_1 {
  display: grid;
  text-align: center;
  justify-items: right;
  justify-content: right;
  color: white;
  margin-right: 20px;
  margin-right: calc(95% - 20px - 200px);
  position: absolute;
}
.extended img {
  margin-top: 0px;
  width: 70%;
  cursor: pointer;
  animation: expandAndContract 3s infinite;
}
.extended_2 p{
  font-size: 14px;
  margin-bottom: 0px;
}


/* Home.css */

.dialog_home {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 45%;
  /* overflow-y: scroll; */
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dialog_home  h1 {
  margin-top: 0;
  color: #001727;
  font-size: 22px;
}

.dialog_home  a {
  display: inline;
  color: #001727;
  text-decoration: none;
}
.dialog_home p {
  color: #001727;
  font-size: 18px;
  font-weight: 400;
}

.dialog_home  button {
  color: #001727;
  background-color: #ebe718;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  width: 100px;
  height: 45px;
  transition: all 0.8 s ease;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.307);
}
.link_to_next_page {
  display: flex;
  justify-content:space-between;
}

#next_page {
  color: #001727;
  width: 190px;
  margin-bottom: 10px;
}
/*DIALOG BOX ENDS HERE*/
/*second dialog*/
.dialog_home_1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 40%;
  height: auto;
}

.dialog_home_1  h1 {
  margin-top: 0;
  color: #001727;
  font-size: 22px;
}

.dialog_home_1  a {
  display: block;
  text-align: center;
  color: #001727;
  text-decoration: none;
}
.dialog_home_1 p {
  color: #001727;
  font-size: 18px;
  font-weight: 400;
}

.dialog_home_1  button {
  color: #ebe718;
  background-color: #ebe718;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  width: 100px;
  height: 45px;
  transition: all 0.8 s ease;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.307);
}

.link_to_next_page_1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
#next_page_1 {
  width: 200px;
  margin-bottom: 10px;
}
.marquee {
  display: grid;
  align-items: center;
  align-content: center;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  background-color: #ebe718;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}
.marquee h4 {
  color: #001727;
  font-size: 16px;
  margin-bottom: 0px;
  display: inline-block;
  overflow: hidden;
  animation: marqueeAnimation 12s linear infinite;
}
.marquee p{
  color: #001727;
  font-size: 16px;
  margin-bottom: 0px;
  display: inline-block;
  overflow: hidden;
  animation: marqueeAnimation 18s linear infinite;
}
.dialog_home_1 button:hover{
  cursor: pointer;
  background-color: #f0d000;
  transition: all ease 0.3s;
}

/*RESPONSIVENESS*/

@media (max-width: 1150px) {
  .main_page {
    padding-top: 0px;
  }
  .content-home h2 {
    font-size: 3.5vh;
  }
  .content-home h4 {
    font-size: 2vh;
  }
  .main_page h1 {
    font-size: 4vh;
  }
  .main_page img {
    width: 525px;
  }
  .content-home {
    margin-top: 10px;
    grid-template-columns: 100%;
  }
  .content-home img {
    width: 150px;
  }
  .content-home img {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #next_page_1 {
    width: 200px;
    font-size: 16px;
  }
  .dialog_home_1  button {
    font-size: 16px;
    width: 80px;
  }
  .Registeration_extension_2 {
    display: grid;
    text-align: center;
    justify-items: right;
    justify-content: right;
    color: white;
    margin-top: 330px;
    margin-right: 20px;
    margin-left: calc(95% - 0px - 200px);
    position: absolute;
    border-radius: 8px;
    box-shadow: #ebe718 0 0 15px 2px;
    padding: 10px;
    margin-bottom: 0px;
    width: 240px;
  }
}

@media (max-width: 900px) {
  .content-home h2 {
    font-size: 3vh;
    line-height: 5vh;
    margin-top: 8px;
  }
  .main_page h1 {
    font-size: 3.5vh;
  }
  .main_page img {
    width: 500px;
  }
  .content-home img {
    width: 120px;
  }
  .marquee {
    margin-bottom: 20px;
    padding: 5px;
  }
  .marquee h4 {
    color: #001727;
    font-size: 12px;
  }
  .marquee p {
    color: #001727;
    font-size: 12px;
  }
  .Registeration_extension {
    margin-right: 5px;
    margin-left: calc(100% - 5px - 180px);
  }
  .dialog_home  {
    width: 70%;
  }
  .extended img {
    width: 100%;
  }
  .dialog_home  button {
    font-size: 16px;
    width: 80px;
  }
  .Registeration_extension_1 {
    margin-right: 5px;
    margin-right: calc(100% - 5px - 180px);
  }
  .dialog_home_1  {
    width: 70%;
  }
  .dialog_home_1  button {
    font-size: 16px;
    width: 80px;
  }
}
@media (max-width: 768px) {
  .dialog_home  {
    font-size: 12px !important;
    max-width: 90% !important;
    width: 90% !important;
  }
  .dialog_home_1  {
    font-size: 12px !important;
    max-width: 90% !important;
    width: 90% !important;
  }
}

@media (max-width: 650px) {
  .content-home h2 {
    font-size: 2.5vh;
    line-height: 4vh;
  }
  .main_page {
    padding: 5px;
  }
  .main_page h1 {
    font-size: 2.5vh;
  }
  .main_page img {
    width: 280px;
  }
  .content-home img {
    margin-top: 10px;
    width: 120px;
  }
  .content-home h4 {
    font-size: 1.8vh;
  }
  .marquee {
    margin-bottom: 0px;
  }
  .Registeration_extension {
    margin-top: 20px;
    margin-right: 5px;
    margin-left: calc(100% - 5px - 120px);
  }
  .extended img {
    width: 75%;
  }
  .dialog {
    width: 70%;
  }
  .Registeration_extension_1 {
    margin-top: 20px;
    margin-right: calc(100% - 5px - 120px);
  }
  .dialog_1 {
    width: 70%;
  }
  #next_page_1 {
    width: 150px;
    font-size: 12px;
  }
  .dialog_home_1  button {
    font-size: 16px;
    width: 80px;
  }
}
@media (max-width: 400px)
{
  #next_page_1 {
    width: 110px;
    font-size: 12px;
  }
  .dialog_home_1  button {
    font-size: 16px;
    width: 80px;
  }
}

/*ANIMATIONS*/
@keyframes expandAndContract {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1vh rgba(235, 232, 24, 0.668);
  }

  50% {
    text-shadow: 0 0 3vh rgba(235, 232, 24, 0.668);
  }

  100% {
    text-shadow: 0 0 1vh rgba(235, 232, 24, 0.668);
  }
}
@keyframes glows {
  0% {
    box-shadow: 0 0 5px rgba(235, 232, 24, 0.668);
  }

  50% {
    box-shadow: 0 0 15px rgba(235, 232, 24, 0.668);
  }

  100% {
    box-shadow: 0 0 5px rgba(235, 232, 24, 0.668);
  }
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(58%);
  }
  100% {
    transform: translateX(-75%);
  }
}
