.problem {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 50px;
  color: black;
}

.problem_statements {
  display: grid;
  grid-template-columns: 100%;
  width: 90%;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.problem_statements h1 {
  color: #ebe718;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.table-responsive {
  height: auto;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%
}

tr {
  color: #001727;
  font-size: 24px;
}

th {
  color: #001727;
  font-weight: 700;
  font-size: 26px;
}

.statement {
  text-align: center;;
}

.table-hover {
  margin-bottom: 0px;
  animation: fadeIn 1s ease;
}
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0px 10px rgba(74, 74, 74, 0.32);
  border-radius: 8px;
  font-size: 18px;
}

.dialog-content {
  text-align: justify;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.dialog h2
{
  text-align: left;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*responsive code*/

/* Responsive styles using media queries */
@media (max-width: 768px) {

  .problem_statements h1 {
    font-size: 35px;
  }

  .table-responsive {
    overflow-x: auto;
  }

  .table {
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }

  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .statement {
    word-wrap: break-word;
  }
  .dialog {
    font-size: 12px;
    max-width: 90%;
    width: 300px; /* Adjust as needed for your design */
  }
  th {
    color: #001727;
    font-weight: 700;
    font-size: 20px;
  }
  
tr {
  font-size: 18px;
}
.dialog h2
{
  text-align: left;
  font-size: 16px;
}
}