body
{
    background-color: #001727;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.problem-main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}